.container {
    height: 100px;
    width: 100%;
    padding: 1rem;
    padding-left: 5rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* justify-content: center; */
    gap: 30rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }

  .logoBox{
    width: 150px;
    height: auto;
  }
  
  .list {
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
  }
  
  .listItem {
    margin: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  .listItem:first-child {
    font-size: 1.3rem;
  }

  .mainDropdown{
    background: #fff;
    position: absolute;
    /* display: none; */
    /* padding: 2rem 0 2rem 2rem; */
    overflow: hidden;
    width: 0;
    /* left: 70%; */
    /* transform: translate(-50%); */
    /* margin-top: 1.3rem; */
    /* line-height: 1.8; */
    /* gap: 1rem; */
  }
  
  .listItem:hover .mainDropdown{
    background: #fff;
    /* position: absolute; */
    display: flex;
    /* padding: 2rem 0 2rem 2rem; */
    width: auto;
    /* left: 50%;
    transform: translate(-50%); */
    /* border-top: 5rem solid inherit; */
    /* line-height: 1.8; */
  }

  .mainDropdownActive{
    background: #fff;
    position: absolute;
    /* display: none; */
    /* padding: 2rem 0 2rem 2rem; */
    overflow: hidden;
    width: 0;
    /* left: 70%; */
    /* transform: translate(-50%); */
    /* margin-top: 1.3rem; */
    /* line-height: 1.8; */
    /* gap: 1rem; */
  }

  .listItem:hover .mainDropdownActive{
    background: #fff;
    display: flex;
    /* padding: 2rem 0 2rem 2rem; */
    width: auto;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    /* border-top: 5rem solid inherit; */
    /* line-height: 1.8; */
  }

  .mainDropdownLeft{
    flex: 1;
    padding: 2rem;
    border-right: 1px solid #ccc;
    transition: all 1s ease;
  }

  .mainDropdownLeftList{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .mainDropdownLeftListItem{
    display: flex;
    justify-content: space-between;
    color: #000;
    /* margin-bottom: 1rem; */
    font-size: 12px;
    padding: 1rem;
    width: 160px;
    cursor: pointer;
    border-radius: 1rem;
    transition: border-radius .5s ease;
    
  }

  .displayArrow{
    color: #fff;
  }

  .mainDropdownLeftListItemActive{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 1rem; */
    font-size: 12px;
    padding: 1rem;
    width: 160px;
    cursor: pointer;
    transition: border-radius .5s ease;
    color: #fff;
    background-color: red;
    border-radius: 1rem;
  }
  .mainDropdownLeftListItemActive2{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 1rem; */
    font-size: 12px;
    padding: 1rem;
    width: 160px;
    cursor: pointer;
    transition: border-radius .5s ease;
    color: #fff;
    background-color: red;
    border-radius: 1rem;
  }
  .mainDropdownLeftListItemActive3{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 1rem; */
    font-size: 12px;
    padding: 1rem;
    width: 160px;
    cursor: pointer;
    transition: border-radius .5s ease;
    color: #fff;
    background-color: red;
    border-radius: 1rem;
  }
  .mainDropdownLeftListItem:hover{
    color: #fff;
    background-color: red;
    border-radius: 1rem;
  }

  .mainDropdownRight{
    flex: 0;
    padding: 0;
    width: 0;
    transition: all 1s ease;
  }

  .mainDropdownRightActive{
    flex: 3;
    padding: 2rem;
    min-width: auto;
    transition: 1s ease;
  }

  .mainDropdownRightList{
    display: none;
  }
  .mainDropdownRightListActive{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
  }

  .mainDropdownRightListItem{
    color: #000;
    font-size: 12px;
    width: 120px;
    cursor: pointer;
    transition: padding .25s ease;
  }
  
  .mainDropdownRightListItem:hover{
    background-color: aquamarine;
    border-radius: 10px;
    font-size: 9px;
    padding: 3px;
  }

  .mainDropdownRightListItemList{
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    list-style: none;
    display: none;
    width: auto;
    /* gap: 3rem; */
    position: absolute;
  }

  .mainDropdownRightListItem:hover .mainDropdownRightListItemList{
    padding: 3rem 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: auto;
    /* gap: 3rem; */
    position: absolute;
    left: 32%;
  }

  .mainDropdownRightListItemListItem{
    width: 100px;
  }

  /* New Nav */
  .innerListContainer{
    background-color: #fff;
    color: #000;
    display: flex;
    list-style: none;
    margin-top: 55rem;
    position: absolute;
    left: 0%;
    top: -580%;
  }
  .innerListItemLeft, .innerListItemRight{
    padding: 1rem;
  }
  .innerListContentLeft, .innerListContentRight{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .innerListContentLeft{
    border-right: 1px solid #ccc;
  }

  .innerListItemContentLeft{
    display: flex;
    justify-content: space-between;
    color: #000;
    /* margin-bottom: 1rem; */
    font-size: 12px;
    padding: 1rem;
    width: 160px;
    cursor: pointer;
    border-radius: 1rem;
    transition: border-radius .5s ease;
  }
  .innerListItemContentLeft:hover{
    color: #fff;
    background-color: red;
    border-radius: 1rem;
  }

  /* right */
  .innerListItemContentRight{
    font-size: 12px;
  }

  .innerListItemContentRightTechListActive, .innerListItemContentRightDigitalListActive, .innerListItemContentRightSalesListActive{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  .innerListItemContentRightDigitalListItem{
    font-size: 12px;
  }
  .innerListItemContentRightTechList, .innerListItemContentRightDigitalList, .innerListItemContentRightSalesList{
    display: none;
  }
  
  .hardwareSolutionsListActive, .networkAdministrationListActive, .systemSecurityListActive, 
  .telecomsListActive, .softwareSolutionsListActive, .webSolutionsListActive, .digitalMarketingListActive, .graphicsListActive, .videoAnimationsListActive, .teleconferencingListActive{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    position: absolute;
    left: 28%;
    margin-top: 3rem;
  }

  .hardwareSolutionsList, .networkAdministrationList, .systemSecurityList, .telecomsList, .softwareSolutionsList, .webSolutionsList,
  .digitalMarketingList, .graphicsList, .videoAnimationsList, .teleconferencingList{
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    gap: 10px;
    position: absolute;
    margin-top: 3rem;
  }
  
  @media screen and (max-width:480px) {
    .container{
      display: none;
    }
  }